*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

.input-row {
    gap: 10px;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #767676;
    border-radius: 3px;
    font-size: 15px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.grid-row, li {
    display: grid;
    grid-template-columns: 1fr 130px 120px 80px;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 12px 0px;
    border-bottom: 1px solid #eee;
}

.title {
    font-weight: 500;
    color: #333;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: #666;
    font-size: 14px;
    text-align: center;
}

.time {
    color: #666;
    font-size: 14px;
    text-align: center;
}

button {
    width: 100%;
    padding: 11px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#btnFinish {
    background-color: #44c7ff;
    color: white;
}

.btnFinish:hover {
    background-color: #0014cc;
}


#btnAdd {
    background-color: #008000;
    color: white;
}

#btnAdd:hover {
    background-color: #006400;
}